@font-face{

font-family: 'montserrat-bold';

src: url('../fonts/montserrat-bold.woff') format('woff'),

url('../fonts/montserrat-bold.ttf') format('truetype');

font-weight: bold;

font-style: normal;

}

@font-face{

font-family: 'montserrat-regular';

src: url('../fonts/montserrat-regular.woff') format('woff'),

url('../fonts/montserrat-regular.ttf') format('truetype');

font-weight: normal;

font-style: normal;

}

body{
	background: linear-gradient(to top, #000000, #0a2345);
}

p, h2, h3, h4{
	font-family: montserrat-regular;
}

h2{
	font-size: 2.3rem;
}

header .top{
	margin-top: 10px;
}

header .menu ul{
	text-align: right;
}

header .menu ul li{
	display: inline-block;
	margin-right: 50px;
	line-height: 60px;
}

header .menu ul li:last-child{
	margin-right: 0;
}

header .menu ul li a{

	color: #fff;
	font-family: montserrat-bold;
	font-size: 1.25rem;
	

}

section .coeluso{
	color: #fff;
	text-align: center;
	margin-top: 155px;
}

section .coeluso h2{
	margin-bottom: 40px;
}

span.coelusmo-title{
	color: #2a5da3;
}

section .coeluso p{
	font-family: montserrat-regular;
	font-size: 1.13rem;
}

section .coeluso .button{
	margin-top: 105px;
	margin-bottom: 35px;
}

section .coeluso .button a{
	color: #fff;
	padding: 25px 30px 20px;
	border-radius: 40px;
	border: 2px solid #153b6d;
	text-decoration: none;
}

section.app{
	background-image: url(../img/VectorSmartObject.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	background-size: contain;
}

section .coeluso-music-app{
	margin-top: 240px;
	margin-bottom: 80px;
}

section .coeluso-music-app .item-left{
	text-align: left;
}

section .coeluso-music-app .item-center{
	text-align: center;
	position: relative;
	top: -40px;
}

section .coeluso-music-app .item-right{
	text-align: right;
}

section .coeluso-music-app .music-item img{
	box-shadow: 0px 0px 40px 5px rgba(0,0,0,.5);
	transition: all 0.5s;
}

section .coeluso-music-app .music-item img:hover{
	transform: scale(1.2);
}

section.headphones{
	background-image: url(../img/Headphones.png);
	background-repeat: no-repeat;
	background-position: left;
	-webkit-background-size: contain;
	background-size: contain;

}

section.headphones .block-headphones{
	margin-top: 3%;
	margin-bottom: 1%;
}

section.headphones .item-headphones h2{
	color: #fff;
	margin-bottom: 60px;
}

section.headphones .item-headphones p{
	color: #66778e;
	line-height: 2rem;
}

.item-headphones .button{
	margin-top: 75px;
	margin-bottom: 30px;
}

.item-headphones .button a{
	color: #fff;
	padding: 20px 55px;
	border-radius: 40px;
	border: 2px solid #153b6d;
	text-decoration: none;
}

.news-app{
	margin-top: 90px;
}

.news-app .news-app-img{
	background-image: url(../img/phone-news.png);	
	background-repeat: no-repeat;
	background-position: center;
	height: 700px;
	margin-top: 140px;
}

.news-app h2{
	text-align: center;
	color: #fff;
}

.news-app .title-and-item{
	color: #fff;
	background-repeat: no-repeat;
}

.news-app .spiker{
	background-image: url(../img/Speaker-mini.png);
}

.news-app .headphones{
	background-image: url(../img/Headphones-mini.png);
}

.news-app .activity{
	background-image: url(../img/Activity-mini.png);	
}

.news-app .cd{
	background-image: url(../img/CD-mini.png);	
}

.news-app .activity,
.news-app .cd{
	margin-top: 50px;
}

.news-app .title-and-item{
	padding-top: 15%; 
}

.news-app .title-and-item p,
.about-app .item-about-app p{
	 font-size: 0.9rem;
	 line-height: 30px;
}

.about{
	background-image: url(../img/Graphic.png);
	background-repeat: no-repeat;
	background-position: right top;
	-webkit-background-size: 70%;
		background-size: 70%;
	margin-top: 8%;
	padding: 10% 0 25%; 	
}

.about-app{
	color: #fff;
}

.about-app .item-about-app{
	padding-top: 15%;
}

.about-app .icon{
	background-image: url(../img/Icon-mini.png);
	background-repeat: no-repeat;
}


#slider{
	width:100%;
 	height:400px;
 	position: relative;
 	overflow:hidden;
	background-image: url(../img/bgslider.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.slides{
  width:500%;
  height:100%;
  transition: all 0.5s;
}

.slider-item{
	width: 20%;
 	float: left;
 	position: relative;
 	z-index: 1;
 	overflow: hidden;
 	margin-top: 2%;
}

.slid{
	width: 50%;
	margin: 0 auto;

}

.radio-button{
	position: absolute;
	left: calc(50% - 100px);
	bottom: 10%;
	margin: 0 auto;
}

#slider input[type="radio"]{
	display: none;
}

.radio-button label{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50px;
	border: 1px solid #335a95;
	margin: 10px;
}

.radio-button label:hover{
	background-color: #335a95;
}

section #slide1:checked ~ .radio-button label[for="slide1"],
section #slide2:checked ~ .radio-button label[for="slide2"],
section #slide3:checked ~ .radio-button label[for="slide3"],
section #slide4:checked ~ .radio-button label[for="slide4"],
section #slide5:checked ~ .radio-button label[for="slide5"]{
	background-color: #335a95;

}

#slider #slide1:checked ~ .slides{
	margin-left: 0;
}

#slider #slide2:checked ~ .slides{
	margin-left: -100%;
}

#slider #slide3:checked ~ .slides{
	margin-left: -200%;
}

#slider #slide4:checked ~ .slides{
	margin-left: -300%;
}

#slider #slide5:checked ~ .slides{
	margin-left: -400%;
}

.slider-item .text-slider{
	font-size: 1.5rem;
}

.slider-item .text-slider,
.slider-item .photo-slider .name-human{
	color: #66778e;

}

.slider-item .photo-slider{
	margin-top: 8%;
	margin-bottom: 2%;
	color: #213a61;
    font-size: 0.9rem;	
}

.slider-item .photo-slider .name-human{
	background-image: url(../img/photo-slider1.png);
    background-repeat: no-repeat;
    padding: 2.2% 0 2.2% 10%;
}





